<%= link_to @topic.category.name, category_path(@topic.category), class: 'edit-link' %> > <%= @topic.name %>

<div class="row">
  <div class="col-md-9">
    <h3><%= @topic.name %></h3>
    <p><%= @topic.description %></p>
    <%= link_to "New Tip", new_topic_tip_path(@topic), class: 'btn btn-success' %>
  </div>
  <div class="col-md-3">
    <br>
    <br>
    <%= link_to "Edit", edit_category_topic_path(@topic.category, @topic), class: 'edit-link' %>&nbsp;
    <%= link_to "Delete", [@topic.category, @topic], method: :delete, class: 'delete-link', data: { confirm: 'Are you sure you want to delete this topic?' } %>
  </div>  
</div>

<div class="row">
  <br>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
    <% @topic.tips.each do |tip| %>
          <h4 class="media-heading">
            <%= link_to tip.title, topic_tip_path(@topic, tip) %>
          </h4>
      <% if false %>
          <small>
             submitted <%= time_ago_in_words(tip.created_at) %> ago by <%= tip.user.email %>
          </small>
      <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>