<%= link_to "Back to Categories", topics_path %>
<h1><%= @topic.name %></h1>
 
<!-- auth -->
  <%= link_to "Edit Category", edit_topic_path, class: 'btn btn-success' %>
  <%= link_to "Delete Category", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %> 
<!-- auth -->
<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>

    <% @topic.tips.each do |tip| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to tip.title, topic_tip_path(@topic, tip) %>
          </h4>
          <% if false %>
          <small>
             submitted <%= time_ago_in_words(tip.created_at) %> ago by <%= tip.user.email %>
          </small>
          <% end %>
        </div>
      </div>
    <% end %>
  
  </div>

  <div class="col-md-4">
      <%= link_to "New Tip", new_topic_tip_path(@topic), class: 'btn btn-success' %>
  </div>
</div>