<%= link_to @tip.topic.category.name, category_path(@tip.topic.category), class: 'edit-link' %> > <%= link_to @tip.topic.name, category_topic_path(@tip.topic.category, @tip.topic), class: 'edit-link' %> > <%= link_to @tip.title, topic_tip_path(@tip.topic, @tip), class: 'edit-link' %> > new code

<h3>New code</h3>
 
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for codes</p>
    <ul>
      <li>It's coding time!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@tip, @code] do |f| %>

      <div class="form-group">
        <%= f.label :code %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Write code here" %>
      </div>

      <div class="form-group">
        <%= f.label :language %>
        <%= f.collection_select(:language_id, @languages, :id, :name, {:prompt=>false}) %>
      </div>

      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_field :note, class: 'form-control', placeholder: "Version info etc." %>
      </div>  

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control', placeholder: "Enter link to your work" %>
      </div> 

      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
    <%= link_to "Edit Language", languages_path %>
  </div>
</div>