<%= link_to "Back to Tips", topic_path(@tip.topic) %>
<h1><%= @tip.title %></h1>
 
<!-- auth -->
  <%= link_to "Edit", edit_topic_tip_path(@tip.topic, @tip), class: 'btn btn-success' %>
  <%= link_to "Delete Tip", [@tip.topic, @tip], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this tip?' } %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @tip.description %></p>
    
    <% @tip.codes.each do |code| %>
      <div class="media">
        <!-- <div class="media-body"> -->
        <h4 class="media-heading"><%= @languages.find(code.language_id).name %></h4> 
        <pre><%= simple_format code.body %></pre>
        <!-- </div> -->
      </div>
      <%= link_to "Edit", edit_tip_code_path(code.tip, code), class: 'btn btn-success' %>
      <%= link_to "Delete Tip", [code.tip, code], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this code?' } %>
    <% end %>
  
  </div>

  <div class="col-md-4">
      <%= link_to "New Code", new_tip_code_path(@tip), class: 'btn btn-success' %>
  </div>
</div>  